  *{margin:o;}
  body{
  color:#0000000;
  background-color:#00ff00;
  font-family:sans-serif;
  }
  h1{font-size:18pt}
  p{font-size:12pt}
  table{
	  background-color:#efefef;
	  border-color:#999900;
	  border-width:2px;
	  border-style:solid;
  }
  th
  {
	  background-color:#cccc00;
	  font-weight:bold;
	  padding:3px;
  }
  td{
	  padding:3px;
  }
  td.code{
	  font-family:sans-serif;
	  font-weight:bold;
  }
  